$wall1: hsla(318, 100%, 33%, .8);
$wall2: hsla(96, 100%, 50%, .8);
$distance: hsla(193, 23%, 9%, 1);
$cyber1:  rgba(0,255,159, 0.8);
$cyber2:	rgba(0,184,255, 0.8);
$cyber3:	rgba(0,30,255, 0.8);
$cyber4:	rgba(189,0,255, 0.8);
$cyber5:	rgba(214,0,255, 0.8);

$cyber21: #63345e;
$cyber22: #ac61b9;
$cyber23: #b7c1de;
$cyber24: #0b468c;
$cyber25: #092047;

@mixin hallMovement($minLi) {
  background: -webkit-linear-gradient(to left, lighten($wall2, $minLi), lighten($wall1, $minLi), lighten($wall2, $minLi));
  background: linear-gradient(to left, lighten($wall2, $minLi), lighten($wall1, $minLi), lighten($wall2, $minLi));
}

.hidden {
  display: none;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

img {
  border: 5px hsla(192, 98%, 29%, 1) ridge;
}

// --------------- HALLWAY VIEW
main {
  display: grid;
  width: 100%;
  grid-template-columns: auto 440px auto;
  grid-template-rows: 400px 250px 250px;
  grid-template-areas:
  "art1 away art2"
  "footboardaway1 walkway footboardaway2"
  "footboardback1 walkway footboardback2";
  &.pos7 {
    // @include hallMovement(30);
    background: -webkit-linear-gradient(to left, $cyber24, $cyber21, $cyber22, darken($cyber21, 20%), darken($cyber24, 20%));
    background: linear-gradient(to left, $cyber24, $cyber21, $cyber22, darken($cyber21, 20%), darken($cyber24, 20%));

  }
  &.pos0, &.pos6 {
    // @include hallMovement(0);
    background: -webkit-linear-gradient(to left, $cyber21, $cyber22, darken($cyber22, 20%), darken($cyber21, 20%));
    background: linear-gradient(to left, $cyber21, $cyber22, darken($cyber22, 20%), darken($cyber21, 20%));
  }
  &.pos1, &.pos5 {
    // @include hallMovement(25);
    background: -webkit-linear-gradient(to left, $cyber22, $cyber24, darken($cyber24, 20%), darken($cyber22, 20%));
    background: linear-gradient(to left, $cyber22, $cyber24, darken($cyber24, 20%), darken($cyber22, 20%));

  }
  &.pos2, &.pos4 {
    // @include hallMovement(20);
    background: -webkit-linear-gradient(to left, $cyber24, $cyber21, darken($cyber21, 20%), darken($cyber24, 20%));
    background: linear-gradient(to left, $cyber24, $cyber21, darken($cyber21, 20%), darken($cyber24, 20%));

  }
  &.pos3 {
    // @include hallMovement(30);
    background: -webkit-linear-gradient(to left, $cyber24, $cyber21, $cyber22, darken($cyber21, 20%), darken($cyber24, 20%));
    background: linear-gradient(to left, $cyber24, $cyber21, $cyber22, darken($cyber21, 20%), darken($cyber24, 20%));

  }
  img {
    width: 200px;
    max-height: 70%;
    margin: 60px;
  }
}

#art1 {
  // Darker side, on the left
  grid-area: art1;
  img {
    opacity: 80%;
    transform: translateY(-210px) translateX(200px) skewY(-20deg) rotate(-12deg);
    &.come-in {
      animation: come-in-left 0.8s linear forwards;
    }
    &.come-out {
      transform: translateY(230px) translateX(-180px) skewY(-20deg) rotate(-12deg);
      animation: come-in-left 0.8s linear forwards;
    }
  }
}
#away {
  background: $distance;
  background-image: url(https://media.giphy.com/media/XuBNdP9Pb7W9i/source.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 200px;
  margin: 0 auto;
}
#art2 {
  grid-area: art2;
  img {
    transform: translateY(-210px) translateX(-200px) skewY(20deg) rotate(12deg);
    &.come-in {
      animation: come-in-right 0.8s linear forwards;
    }
    &.come-out {
      transform: translateY(230px) translateX(180px) skewY(20deg) rotate(12deg);
      animation: come-in-right 0.8s linear forwards;
    }
  }
}

@keyframes come-in-right {
  to { transform: translateY(0) translateX(0) skewY(20deg) rotate(12deg); }
}

@keyframes come-in-left {
  to { transform: translateY(0) translateX(0) skewY(-20deg) rotate(-12deg); }
}


#footboardaway1 {
  grid-area: footboardaway1;
}
#footboardaway2 {
  grid-area: footboardaway2;
}
#walkway {
  grid-area: walkway;
  #floor {
    margin: 0 auto;
    border-bottom: 700px solid $cyber25;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 0;
    width: 200px;
  }
}

#footboardback1 {
  grid-area: footboardback1;
}
#footboardback2 {
  grid-area: footboardback2;
}

//------------------CLOSEUP VIEW

section#closeup {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
  #art1-close {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-width: 80%;
    max-height: 80%;
  }
}
