.hidden {
  display: none; }

body {
  background-color: black;
  margin: 0;
  padding: 0; }

img {
  border: 5px #017592 ridge; }

main {
  display: grid;
  width: 100%;
  grid-template-columns: auto 440px auto;
  grid-template-rows: 400px 250px 250px;
  grid-template-areas: "art1 away art2" "footboardaway1 walkway footboardaway2" "footboardback1 walkway footboardback2"; }
  main.pos7 {
    background: -webkit-linear-gradient(to left, #0b468c, #63345e, #ac61b9, #20111f, #04172d);
    background: linear-gradient(to left, #0b468c, #63345e, #ac61b9, #20111f, #04172d); }
  main.pos0, main.pos6 {
    background: -webkit-linear-gradient(to left, #63345e, #ac61b9, #72377d, #20111f);
    background: linear-gradient(to left, #63345e, #ac61b9, #72377d, #20111f); }
  main.pos1, main.pos5 {
    background: -webkit-linear-gradient(to left, #ac61b9, #0b468c, #04172d, #72377d);
    background: linear-gradient(to left, #ac61b9, #0b468c, #04172d, #72377d); }
  main.pos2, main.pos4 {
    background: -webkit-linear-gradient(to left, #0b468c, #63345e, #20111f, #04172d);
    background: linear-gradient(to left, #0b468c, #63345e, #20111f, #04172d); }
  main.pos3 {
    background: -webkit-linear-gradient(to left, #0b468c, #63345e, #ac61b9, #20111f, #04172d);
    background: linear-gradient(to left, #0b468c, #63345e, #ac61b9, #20111f, #04172d); }
  main img {
    width: 200px;
    max-height: 70%;
    margin: 60px; }

#art1 {
  grid-area: art1; }
  #art1 img {
    opacity: 80%;
    transform: translateY(-210px) translateX(200px) skewY(-20deg) rotate(-12deg); }
    #art1 img.come-in {
      animation: come-in-left 0.8s linear forwards; }
    #art1 img.come-out {
      transform: translateY(230px) translateX(-180px) skewY(-20deg) rotate(-12deg);
      animation: come-in-left 0.8s linear forwards; }

#away {
  background: #121a1c;
  background-image: url(https://media.giphy.com/media/XuBNdP9Pb7W9i/source.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 200px;
  margin: 0 auto; }

#art2 {
  grid-area: art2; }
  #art2 img {
    transform: translateY(-210px) translateX(-200px) skewY(20deg) rotate(12deg); }
    #art2 img.come-in {
      animation: come-in-right 0.8s linear forwards; }
    #art2 img.come-out {
      transform: translateY(230px) translateX(180px) skewY(20deg) rotate(12deg);
      animation: come-in-right 0.8s linear forwards; }

@keyframes come-in-right {
  to {
    transform: translateY(0) translateX(0) skewY(20deg) rotate(12deg); } }
@keyframes come-in-left {
  to {
    transform: translateY(0) translateX(0) skewY(-20deg) rotate(-12deg); } }
#footboardaway1 {
  grid-area: footboardaway1; }

#footboardaway2 {
  grid-area: footboardaway2; }

#walkway {
  grid-area: walkway; }
  #walkway #floor {
    margin: 0 auto;
    border-bottom: 700px solid #092047;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 0;
    width: 200px; }

#footboardback1 {
  grid-area: footboardback1; }

#footboardback2 {
  grid-area: footboardback2; }

section#closeup {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10%; }
  section#closeup #art1-close {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  section#closeup img {
    max-width: 80%;
    max-height: 80%; }

/*# sourceMappingURL=main.css.map */
